.chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 16px;
  background: #22249c;
  cursor: pointer;
  gap: 8px;
  font-size: 14px;
  transition: background 0.2s;
  flex-shrink: 0; /* Evitar que el chip se reduzca en espacios pequeños */
  max-width: fit-content; /* Ajustar el ancho al contenido */
  white-space: nowrap; /* Asegurar que el texto no se divida */
  overflow: visible; /* Permitir que el contenido se ajuste sin ocultarse */
  text-overflow: unset; /* Eliminar puntos suspensivos para texto largo */
  flex-wrap: nowrap; /* Evitar que el chip se divida en varias líneas */
}

.chip:hover {
  background: #0167ff;
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Evitar que el ícono se reduzca */
}
