.chip {
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 16px;
  background: #22249c;
  cursor: pointer;
  gap: 8px;
  font-size: 14px;
  transition: background 0.2s;
  flex-shrink: 0; 
  max-width: fit-content; 
  white-space: nowrap; 
  overflow: visible; 
  text-overflow: unset; 
  flex-wrap: nowrap; 
}

.chip:hover {
  background: #0167ff;
}

.icon {
  display: flex;
  align-items: center;
  flex-shrink: 0; 
}
