.card {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 1px solid #eee;
  width: 100%;   
  height: 300px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  overflow: hidden; 
}

.cardImage {
  width: 100%;
  height: 65px; 
  min-height: 65px;
  max-height: 65px;
  object-fit: cover;
}

.cardScrollableContent {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding-right: 8px; 
}

.expandedCard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  z-index: 1000;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}
